<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <span class="p-tag">Technology</span>
          <h1 class="mt-4">Tadeoz Gvaladze</h1>
          <p class="p-des mt-3 mb-4">
            <strong style="color: black">New</strong> - Junior Angular
            Web-Developer <br />
            <strong style="color: black">Present</strong> - Diligent Desktop
            Support Specialist with 3+ years of experience providing technical
            support for various computer, system and office equipment. Balances
            priorities while quickly solving issues to strengthen business
            processes and performance.
          </p>
          <a href="#" class="p-readmore"
            >Read More
            <img
              class="ml-2"
              src="../../assets/img/rm-arw-rgt.png"
              alt="The icon for readmore arrow"
              width="15"
            />
          </a>
        </div>
        <div>
          <h6>Subscribe to our Newsletter</h6>
          <form class="form-inline" autocomplete="off">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter your email here"
                autocomplete="off"
              />
              <button class="btn btn-warning">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
